doctype html
html
  head
    title Node Redis Example
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='//cdnjs.cloudflare.com/ajax/libs/zepto/1.1.4/zepto.min.js')
  body
    block content
